In [7]:
print(5 // 2)
print(5 / 2)

2
2.5

In [ ]:
"hello" + "world"

In [ ]:
s1 = "hello"
s2 = "world"

s1 + s2

In [ ]:
s1 = "hello"
s2 = "world"

s1 + s2

In [ ]:
s1 = "hello"
s2 = "world"#my original code
#books 
jk = 1
rd = 1
# None or zero

Dave = 20.5
Sarah = 31 

remainder = 5*rd - 2*rd

print(remainder, "rd")

three_rd = 31 - 20.5

print(three_rd, "dollars")

answer = 10.5 / 3 

print("Sarah paid", answer, "dollars for one Roald Dahl book.")


s3 = s1 + s2
print(f"{s3}")

helloworld

Dave paid $20.50 for a Jeff Kinney book and 2 Roald Dahl books. Sarah paid $31 for a Jeff Kinney book and 5 Roald Dahl books. 

How much did Sarah pay for 1 Roald Dahl book?

In [1]:
# Allard's code
# Initialize variables: try to use meaningful names
num_rd_dave = 2
num_rd_sarah = 5
Dave = 20.5
Sarah = 31 

# Avoid magic numbers: 5 and 2
remainder = num_rd_sarah - num_rd_dave
print(remainder, "rd")

three_rd = Sarah - Dave
print(three_rd, "dollars")

answer = 10.5 / 3 
print("Sarah paid", answer, "dollars for one Roald Dahl book.")

3 rd
10.5 dollars
Sarah paid 3.5 dollars for one Roald Dahl book.